.dashboard-container {
  height: 100%;
  overflow: hidden;

  .dashboard-layout {
    display: flex;
    height: 100%;
    overflow: hidden;
  }

  .dashboard-navbar {
    flex-shrink: 0;
  }

  .dashboard-search-panel {
    flex: 1;
  }
}
